.my-account-container {
  display: flex;
  max-height: 95vh;
}

.account-details {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-right: 1px solid #3f3f46;
  padding: 10px 40px 10px 10px;
  gap: 10px;
  min-width: 250px;
  height: 95vh;
}

.account-details h5 {
  font-size: 30px;
  margin-bottom: 10px;
}

.account-details h6 {
  font-size: 20px;
  margin: 0px;
}

.update-password-form,
.update-username-form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.update-password-form label,
.update-username-form label {
  align-self: flex-start;
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 10px;
}

.update-password-form input,
.update-username-form input {
  font-size: 15px;
  margin-bottom: 25px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 3px;
}

.account-blogs {
  display: flex;
  flex-direction: column;
}

.update-button,
.update-username-button {
  margin-top: 0px;
  background-color: #a21caf;
  padding: 10px;
  border-radius: 10px;
  color: white;
}

.update-button,
.update-username-button:hover {
  background-color: #83188d;
  cursor: pointer;
}

.update-credentials-error {
  width: 100%;
  color: #ef4444;
  padding-bottom: 15px;
  margin-top: -15px;
  font-size: 13px;
}

.password-success {
  width: 100%;
  color: #14853d;
  padding-bottom: 15px;
  font-size: 17px;
}

.account-stats {
  font-weight: bold;
}

.user-blogs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: 95vh;
  overflow: auto;
}

.user-blogs h5 {
  font-size: 25px;
  margin-bottom: 10px;
  padding-top: 300px;
}
