.log-in-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 30px;
  height: 75vh;
  width: 100%;
}

.log-in-container h4 {
  font-size: 30px;
  margin-bottom: 0px;
}

.log-in-container h5 {
  font-size: 25px;
  color: #a21caf;
  margin-bottom: 0px;
}

.log-in-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  width: 400px;
  margin-top: 20px;
}

.log-in-form label {
  align-self: flex-start;
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 10px;
}

.log-in-form input {
  font-size: 15px;
  margin-bottom: 25px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 7px;
}

.log-in-button {
  background-color: #a21caf;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  color: white;
}

.log-in-button:hover {
  background-color: #83188d;
  cursor: pointer;
}

.log-in-error,
.auth-error {
  width: 100%;
  color: #ef4444;
  padding-bottom: 15px;
  margin-top: -15px;
}

@media (max-width: 550px) {
  .log-in-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    width: 250px;
    margin-top: 20px;
    text-align: center;
  }
}
