.log-in-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.log-in-container h4 {
  font-size: 25px;
}

.log-in-container p {
  color: #a21caf;
}

.log-in-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.log-in-form label {
  align-self: flex-start;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 10px;
}

.log-in-form input {
  font-size: 18px;
  margin-bottom: 30px;
  width: 500px;
}
