.blog-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.blog-page-container div {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

.blog-title {
  gap: 10px;
}

.blog-title h4 {
  font-size: 30px;
  margin: 0px;
}

.blog-image {
  align-self: center;
  width: 750px;
  height: 500px;
  border-radius: 10px;
}

.blog-content h5 {
  font-size: 20px;
  padding: 10px;
  border: 1px solid #3f3f46;
  box-shadow: 5px 5px #3f3f46;
}

.blog-content p {
  font-size: 17px;
  width: 600px;
}
