.blog-page-container,
.comments-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.blog-page-container div,
.comments-container div {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

.blog-title {
  gap: 10px;
}

.blog-title h4 {
  font-size: 30px;
  margin: 0px;
}

.blog-image {
  align-self: center;
  width: 750px;
  height: 500px;
  border-radius: 10px;
}

.blog-content {
  padding-bottom: 40px;
  border-bottom: 1px solid #9f9fa5;
}

.blog-content h5 {
  font-size: 20px;
  padding: 10px;
  border: 1px solid #3f3f46;
  box-shadow: 5px 5px #3f3f46;
  margin: 20px 0px 30px 0px;
}

.blog-content p {
  font-size: 17px;
  width: 600px;
}

.comments-title h4 {
  font-size: 25px;
  margin: 20px 0px 30px 0px;
}

.comment-form {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.comment-form label {
  font-weight: bold;
  padding-bottom: 10px;
}

.comment-form textarea {
  width: 600px;
  height: 75px;
}

.submit-button {
  margin-top: 10px;
  background-color: #a21caf;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  color: #f8fafc;
}
