.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 60px 0px 60px 0px;
  border-bottom: 1px solid #d4d4d8;
  width: 100%;
}

.welcome-container h4 {
  font-size: 25px;
}

.welcome-image {
  width: 90%;
  height: 90%;
  border-radius: 10px;
}

.sign-up-link {
  margin-top: 10px;
  background-color: #a21caf;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  color: #f8fafc;
}

.sign-up-link:hover {
  cursor: pointer;
  background-color: #83198d;
}

.home-container h4 {
  font-size: 25px;
  margin-bottom: 0px;
}
