.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 40px 0px 60px 0px;
  border-bottom: 1px solid #d4d4d8;
  width: 100%;
}

.welcome-container h4 {
  font-size: 25px;
}

.left-welcome-container {
  padding: 20px;
}

.left-welcome-container,
.welcome-image {
  max-width: 300px;
}

.welcome-image {
  height: 70%;
  border-radius: 10px;
}

.sign-up-link {
  margin-top: 10px;
  background-color: #a21caf;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  color: #f8fafc;
}

.sign-up-link:hover {
  cursor: pointer;
  background-color: #83198d;
}

.home-container h3 {
  font-size: 26px;
  padding: 10px;
  border: 1px solid #3f3f46;
  box-shadow: 5px 5px #3f3f46;
  margin: 25px 0px 5px 0px;
}

.react-loading {
  margin-top: 80px;
}
