.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 40px 40px 40px 80px;
  border-bottom: 1px solid #d4d4d8;
}

.welcome-container h4 {
  font-size: 25px;
}

.welcome-image {
  width: 90%;
  height: 90%;
  border-radius: 10px;
}
