header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #d4d4d8;
}

nav ul {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

header h3 {
  font-size: 25px;
}
