header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: sticky;
  top: 0;
  left: 0;
  width: 95%;
  z-index: 1;
  background-color: #f8fafc;
}

header h3 {
  font-size: 25px;
  margin: 15px 0px 0px 0px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

nav ul li a,
.log-out-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: #3f3f46;
}

.log-out-button {
  padding: 0px;
}

.header-icons {
  width: 25px;
  height: 25px;
}
