header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: sticky;
  max-width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: white;
  box-shadow: 0 1px 1px 0 rgb(209, 205, 205);
}

header h3 {
  font-size: 25px;
  margin: 15px 0px 0px 0px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

nav ul li a,
.log-out-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: #3f3f46;
}

.log-out-button {
  padding: 0px;
}

.log-out-button:hover {
  cursor: pointer;
}

.header-icons {
  width: 25px;
  height: 25px;
}

.region-menu-button {
  align-self: center;
  height: 27px;
  font-size: 14px;
  background-color: #334155;
  padding: 0px 10px 0px 10px;
  border-radius: 5px;
  color: #f8fafc;
}

.region-menu-button:hover {
  cursor: pointer;
  background-color: #3f3f46;
}
