.blog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  margin: 40px 0px 40px 0px;
  gap: 40px;
}

.travel-image {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

.right-blog-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.right-blog-container h4 {
  font-size: 20px;
  padding: 10px;
  border: 1px solid #3f3f46;
  box-shadow: 5px 5px #3f3f46;
}

.right-blog-container h6 {
  font-size: 17px;
  margin: 0px;
}

.blog-credits {
  color: #64646d;
  font-size: 12px;
}
