.comment-card-container {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  width: 600px;
  height: 95px;
  border: 1px solid #9f9fa5;
  margin: 10px 0px 10px 0px;
  padding: 10px;
  border-radius: 10px;
}

.comment-card-container h6 {
  margin: 0px 0px 10px 0px;
  font-size: 16px;
}

.comment-card-container p {
  padding-bottom: 10px;
  margin: 0px;
  border-bottom: 1px solid #acacad;
}

.date-delete-container {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 100%;
  padding-top: 10px;
}

.blog-date {
  font-size: 15px;
  vertical-align: middle;
  color: #acacad;
  padding-bottom: 7px;
}

.delete-icon {
  width: 25px;
  height: 25px;
  border: 1px solid transparent;
  border-radius: 15px;
  padding: 2px;
}

.delete-icon:hover {
  cursor: pointer;
  border: 1px solid #acacad;
}
