body {
  display: flex;
  flex-direction: column;
  margin: 0px;
  max-width: 100%;
  height: 100%;
  background-color: #f8fafc;
  font-family: 'Lato', sans-serif;
  color: #3f3f46;
}

#root {
  max-width: 100%;
  height: 100%;
}

ul {
  list-style: none;
  padding: 0px;
}

a {
  color: #3f3f46;
}

main {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

button {
  background: none;
  border: none;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}
