body {
  display: flex;
  flex-direction: column;
  margin: 0px;
  font-family: 'Lato', sans-serif;
  background-color: #f8fafc;
  color: #3f3f46;
}

ul {
  list-style: none;
  padding: 0px;
}

a {
  color: #3f3f46;
}
