#root {
  width: 100vw;
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px;
  font-family: 'Lato', sans-serif;
  background-color: #f8fafc;
  color: #3f3f46;
}

ul {
  list-style: none;
  padding: 0px;
}

a {
  color: #3f3f46;
}

button {
  background: none;
  border: none;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}
