.blog-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0px 40px 0px;
  gap: 40px;
  width: 80%;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}

.travel-image {
  width: 350px;
  height: 300px;
  border-radius: 10px;
}

.right-blog-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  max-height: 400px;
}

.right-blog-container h4 {
  font-size: 20px;
  padding: 10px;
  border: 1px solid #3f3f46;
  box-shadow: 5px 5px #3f3f46;
  margin: 5px 0px 5px 0px;
}

.right-blog-container h6 {
  font-size: 15px;
  margin: 0px 0px 5px 0px;
  max-height: 40px;
  overflow: hidden;
}

.right-blog-container p {
  margin: 1px 0px 1px 0px;
}

.caption-container {
  max-height: 80px;
  overflow: hidden;
}

.blog-credits {
  color: #64646d;
  font-size: 12px;
}

.likes-blog-card {
  width: 18px;
  height: 18px;
}

@media (max-width: 750px) {
  .blog-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0px 40px 0px;
    gap: 40px;
    width: 300px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
  }

  .travel-image {
    width: 300px;
    height: 300px;
    border-radius: 10px;
  }
}
