.blog-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 700px;
  padding: 10px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}

.travel-image-list {
  width: 75px;
  height: 75px;
  border-radius: 5px;
}

.top-list-row,
.bottom-list-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 80%;
}

.blog-list-container h6 {
  font-size: 20px;
  width: 80%;
  overflow: hidden;
  max-height: 50px;
  text-align: center;
}

.unpublish-button {
  background-color: #22c55e;
  border-radius: 10px;
  padding: 10px;
}

.publish-button {
  background-color: #dc2626;
  border-radius: 10px;
  padding: 10px;
}

.publish-button:hover,
.unpublish-button:hover {
  cursor: pointer;
}

.edit-link {
  background-color: #a21caf;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  color: #f8fafc;
}
